<!DOCTYPE html>
<html>
  <head>
    <title>RoRRailsTester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>This is the body</h1>
    <%= yield %>
    <h2>Here ends the body</h2>
  </body>
</html>
